//font
$backgroung: #fff;
$primary-font-color: rgba(54, 54, 54, 0.8);
$secondary-font-color: rgba(54, 54, 54, 1);

//page
$min-page-size: 320px;
$max-page-size: 1290px;

//background
$primary-backgroung-color: #fff;
