.main {
  padding: 50px 0 60px;

  //filter
  .container {
    font-weight: 600;
    &__search {
      padding: 10px 0 40px;
    }
    &__result {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        height: 1px;
        bottom: -4px;
        left: 0;
        right: 0;
        background-color: $primary-font-color;
        opacity: 0.3;
      }
    }
    .search {
      &__item {
        width: 600px;
      }
    }
  }
  //Articles list
  .list {
    padding-top: 45px;
    justify-content: center;
    &__item {
      @include box-border;
    }
    .item {
      width: 400px;
      height: 530px;
      overflow: hidden;
      position: relative;

      &__img {
        width: 400px;
        height: 217px;
        box-sizing: content-box;
      }
      .content {
        padding: 25px;

        @include content;
        &__date {
          font-size: 14px;
          p {
            padding-left: 10px;
          }
        }
        &__title {
          font-size: 24px;
          line-height: 29px;
          padding: 24px 0;
        }
        &__text {
          padding: 20px 0;
        }
        &__btn {
          position: absolute;
          top: 480px;
        }
      }
    }
  }
}
