.main {
  padding: 50px 0 60px;
  .list {
    padding-top: 45px;
    justify-content: center;
    &__item {
      @include box-border;
    }
    .item {
      width: 400px;
      height: 530px;
      overflow: hidden;
      position: relative;

      &__img {
        width: 400px;
        height: 217px;
        box-sizing: content-box;
      }
      .content {
        padding: 25px;

        @include content;
        &__date {
          font-size: 14px;
          p {
            padding-left: 10px;
          }
        }
        &__title {
          font-size: 24px;
          line-height: 29px;
          padding: 24px 0;
        }
        &__text {
          padding: 20px 0;
        }
        &__btn {
          position: absolute;
          top: 480px;
        }
      }
    }
  }
}
