.container {
  padding-top: 80px;
  font-weight: 600;
  &__search {
    padding: 10px 0 40px;
  }
  &__result {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      height: 1px;
      bottom: -4px;
      left: 0;
      right: 0;
      background-color: $primary-font-color;
      opacity: 0.3;
    }
  }
  .search {
    &__item {
      width: 600px;
    }
  }
}
